<?xml version="1.0" encoding="utf-8"?>
<SETTINGS>
  <SUPERUSER>
    <UNINSTALL>com.google.android.youtube</UNINSTALL>
    <UNINSTALL>org.xbmc.kodi</UNINSTALL>
    <DISABLE>com.android.soundrecorder</DISABLE>
    <DISABLE>com.android.contacts</DISABLE>
    <DISABLE>com.android.camera2</DISABLE>
    <DISABLE>com.android.calendar</DISABLE>
    <DISABLE>com.android.musicfx</DISABLE>
    <DISABLE>com.android.gallery3d</DISABLE>
    <DISABLE>com.android.calculator2</DISABLE>
    <DISABLE>com.android.email</DISABLE>
    <DISABLE>com.android.music</DISABLE>
    <DISABLE>com.android.quicksearchbox</DISABLE>
    <DISABLE>com.android.deskclock</DISABLE>
    <DISABLE>android.rk.RockVideoPlayer</DISABLE>
    <DISABLE>com.droidlogic.PPPoE</DISABLE>
    <DISABLE>com.android.development</DISABLE>
  </SUPERUSER>
  <EXECUTE>
    <CUSTOM>kill-server</CUSTOM>
    <CUSTOM>start-server</CUSTOM>
  </EXECUTE>
</SETTINGS>